<h1>About hapily</h1>
<p>hapily is a directory of APIs. Filter by category, choose your favorites, or make it better by adding more.
<%= mail_to("sararob@brandeis.edu", "Email me") %>
with your feedback.
</p>
