<div class="hero-unit">
	<h2>
		I'm looking for a
		<%= form_tag apis_path, :method => :get %>
		<%= collection_select(:categories, :categories_id, Categories.all, :id, :name) %>
		API
		<br>
		<%= submit_tag "Submit" %>
	</h2>
</div>
