<h2 class="api-index">API Directory</h2>
<%= render 'socialsidebar' %>
<div class="index-filters"><%= render 'filters' %></div>
<br><br>
<div id="apis">
	<%= render 'apis' %>
</div>
<br>
<%= will_paginate @all %>
<br><br>