<h3 class="api-header"><%= link_to @api.name, @api.url, :target => "_blank" %></h3>

<p class="api-info"><span class="api-subhead">Description</span>: <%= @api.description %></p>
<p class="api-info"><span class="api-subhead">Votes</span>: <%= @api["votes"] %></p>
<br><br>
<h4>Used this API? Add a review:</h4>

<%= link_to "Back to APIs", root_path, :class => "btn" %>