$navbarBackground: #59b259;
$navbarBackgroundHighlight: #59b259;
$navbarLinkColor: white;
$navbarBrandColor: white;

$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

@import "bootstrap";
@import "bootstrap-responsive";

body {
	padding-top:45px;
}

/* Navbar */
.navbar {
	font-color: white;
}

.hero-unit h2 {
	text-align:center;
}

/* Api display */

.box {
	margin: 5px;
	padding: 10px;
	line-height: 1.4em;
	float:left;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	box-shadow:1px 1px 10px #444;
	width: 225px;
}

.api-index {
	text-align:center;
}

.category {
	float:right;
}

/* New API form */

.newcat {
	display:inline;
	text-align:center;
}

/* User profile page */

.gravatar {
  float: left;
  margin-right: 10px;
	margin-top: 12px;
	border-radius: 6px;
	border:2px solid black;
}

/* Show all users */

.user-pic {
	float:left;
	margin-top:-12px;
}

/* Api show page */

.api-subhead {
	text-decoration:underline;
}

.review-time {
	color:grey;
	font-style:italic;
}

.review-divider {
	height:1px;
}

#review-form {
	display:none;
}

.api-favicon {
	float:left;
	padding-right:3px;
}

.show-social {
	float:right;
}

.social-buttons {
	list-style-type:none;
	li {
		padding:5px;
	}
}

/* Search Page */

.search-header {
	text-align:center;
}

/* Social Sidebar */

.social-sidebar {
	float:right;
	padding:5px;
	border-radius:8px;
	margin-top:75px;
	color: $grayLight; 
	a {
		color:$gray;
	}
}

.social li {
	line-height:1;
	list-style-type:none;
	padding:5px;
}