<div class="footer">
<ul class="social">
	<li class="tweet">
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hapily.herokuapp.com/" data-text="Check out hapily, a simple #API directory!">Tweet</a>

	</li>
	<li class="fb">
		<div id="fb-root"></div>
<div class="fb-like" data-href="http://hapily.herokuapp.com/" data-send="false" data-width="450" data-show-faces="false"></div>
</li>
</ul>
</div>